---
Title: Cake.MsDeploy
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.MsDeploy is an Addin that extends Cake for executing commands with the MsDeploy.exe (Web Deploy) command line interface (cli). In order to use this extension, MsDeploy v3.6 will already have to be installed on the computer the cake build script is being executed on.
    </p>
</div>